body{
    margin: 0;
    background-color: #706D6D;
}

.volver{
    color: #000;
    position: absolute;
    text-decoration: none;
    top: 33px;
    left: 75px;
    z-index: 1000;
}

.volver:hover{
    border: 2px solid transparent;
    border-radius: 3px;
    background-size: 40px;
    background-position: center;
    border-color: rgba(92, 92, 92, 0.50);
    background-color: rgba(97, 92, 92, 0.5);
}


/* HEADER Y CATEGORIAS */
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #91e842;
    height: 80px;
    z-index: 999;
}

.lingscars{
    height: 75px;
    align-self: center;
    margin-left: 460px;
}

.menu-desplegable{
    top: 35px;
    bottom: 35px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
}

.help{
    color: #000;
    size: 50px;
    top: 35px;
    bottom: 35px;
    margin-right: 20px;
    margin-left: auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
}

.menu-desplegable, .help {
    border: 2px solid transparent;
    border-radius: 3px;
    background-size: 50px;
    background-position: center;
}

.menu-desplegable:hover, .help:hover {
    border-color: rgba(92, 92, 92, 0.50);
    background-color: rgba(97, 92, 92, 0.5);
}

.categorias {
    display: none;
    position: fixed;
    top: 80px;
    bottom: 60px;
    left: 0;
    width: 250px;
    height: calc(100vh - 60px);
    background-color: #91e842;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 90%;
}

.categorias.show {
    display: block;
}

.categorias a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #000000;
}

.categorias a:hover {
    background-color: rgb(71, 71, 71, 50%);
}
/* HEADER Y CATEGORIAS */

/* FOOTER Y REDES */
footer {
    background-color: #91e842;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    height: 80px;
    margin-top: 800px;
    margin-bottom: 0px ;
    position: relative;
}

.contact-us {
    text-align: center;
    padding: 8px 0px 0px;
    font-size: 20px;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 0 0;
}

.redes a {
    display: flexbox;
    background-size: contain;
    background-repeat: no-repeat;

}

.telefono{
    padding: 0 0 10px;
}

.twitter {
    height: 25px;
    width: 25px;
    background-image: url('Imagenes/REDES/TWITTER.png');
}

.facebook {
    height: 30px;
    width: 25px;
    background-image: url('Imagenes/REDES/FACEBOOK.png');
}

.email {
    height: 30px;
    width: 25px;
    background-image: url('Imagenes/REDES/EMAIL.png');
}
/* FOOTER Y REDES */

/* TEXTO AYUDA */
.texto{
    color: #ffffff;
    position: absolute;
    text-align: justify;
    top: 90px;
    left: 12px;
    right: 15px;
    height: 780px;
}

.titulo{
    background-color: #91e842;
    color: #000000;
    left: 5px;
    font-size: 25px;
    font-weight: bold;
}
/* TEXTO AYUDA */
